name: Deploy to S3 bucket
on: 
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from repo
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Sync the static file to S3 bucket
        run: |
          # CLI command to copy the index.html file to the bucket
          aws s3 sync ./ s3://static-web-bukcet/ \
          --exclude "*" \
          --include "index.html"
        
       
